@font-face {
    font-family: 'JetBrains Mono';
    src: url('fonts/JetBrainsMono-VariableFont_wght.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto Mono';
    src: url('fonts/RobotoMono-VariableFont_wght.ttf') format('truetype');
}

@font-face {
    font-family: 'Merriweather';
    src: url('fonts/Merriweather-Regular.ttf') format('truetype');
}

:root {
    --md-text-font: 'JetBrains Mono', sans-serif;
    --md-text-font: 'Merriweather', sans-serif;
    --md-code-font: 'Roboto Mono', monospace;
}

.md-nav__item--nested > label {
transition: all 0.3s ease;
}

.md-nav__item--nested > label:hover {
color: #3f51b5; /* Màu khi hover */
cursor: pointer;
}

.md-nav__item--nested[open] > label::before {
transform: rotate(90deg);
}

.md-main__inner {
max-width: 95%;
margin: 0 auto;
}

.md-typeset .admonition-tip {
    border-left: 4px solid #009688;
    background-color: #f4f9f9;
}

.md-typeset .admonition-question {
    border-left: 4px solid #673AB7;
    background-color: #F3E5F5;
}

.md-sidebar__inner .md-nav__list {
    display: block !important;
}


/* docs/assets/extra.css */

/* Định dạng cho tiêu đề chính */
h1 {
    color: #2c3e50;
    text-align: center;
    padding-top: 50px;
}

/* Định dạng cho các tiêu đề con */
h2, h3 {
    color: #34495e;
}

/* Thêm khoảng cách giữa các phần */
section {
    margin: 40px;
}

/* Liên kết */
a {
    color: #3498db;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Tạo một hộp thông tin nổi bật */
.feature-box {
    background-color: #ecf0f1;
    border-left: 5px solid #3498db;
    padding: 20px;
    margin: 20px 0;
}

.feature-box h3 {
    color: #2980b9;
}

/* Thêm hiệu ứng cho phần các dự án */
.project-list {
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
}

.project-list .project-item {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 30%;
    text-align: center;
}

.project-list .project-item:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
}
