@font-face {
    font-family: 'JetBrains Mono';
    src: url('fonts/JetBrainsMono-VariableFont_wght.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto Mono';
    src: url('fonts/RobotoMono-VariableFont_wght.ttf') format('truetype');
}

@font-face {
    font-family: 'Merriweather';
    src: url('fonts/Merriweather-Regular.ttf') format('truetype');
}

:root {
    --md-text-font: 'JetBrains Mono', sans-serif;
    --md-text-font: 'Merriweather', sans-serif;
    --md-code-font: 'Roboto Mono', monospace;
}